<html>
  <head></head>
  <body>
    <form>
      <p>Key:</p>
      <input type='text' name='key'/>
      <p>text:</p>
      <input type='text' name='value'/>
      <input type='submit' value='encrypt!'>
    </form>
    <p>Encrypted:</p>
    <p>
    <%= text %>
    </p>
  </body>
</html>
